*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:rgb(219 197 218);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px ;
    background-color: rgb(145 100 139);
    /* width: 50rem; */
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 1rem;
}

.content h3{
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding-bottom: 2rem;
}

#input{
    cursor: pointer;
    width: 33rem;
    /* height: 1.5rem; */
    font-size: 1.1rem;
    border-radius: .2rem;
    padding: 0.6rem;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#add_btn{
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: .2rem;
    padding: 0.7rem;
    border: none;
    background-color: rgb(118, 42, 165);
    color: white;
    outline: none;
}

#add_btn:hover{
    background-color: blueviolet;
}

#display{
   cursor: pointer;
   font-size: 1rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   position: sticky;
   padding-top: .5rem;
   flex-wrap: wrap;
}

.list{
    padding: 0.6rem;
    /* margin-right: 100px; */
    /* position: relative; */
    /* right: 16rem; */
    /* margin-left: 50px; */
}

.delete {
    background:#c71a1a;
    color: #dddddd;
    border-radius: 8rem;
    border: none;
    cursor: pointer;
    font-weight: 800;
    position: absolute; 
    /* left: 37rem; */
    margin-left:3rem;
    padding: 0.2rem;
}

.delete:hover{
    font-size: 1.1rem;
}

/* .dateStyling{
    color: blue;
    font-size: .7rem;
} */
@media only screen and (max-width: 710px){
    #int_btn{   
        display: flex;
            flex-direction: column;
    }
    .content>h3{
        font-size: 1rem;
    }
    #input{
        font-size: .8rem;
        width:20rem;
    }
    #add_btn{
        font-size: .9rem;
    }
    .delete{
        margin-left: .5rem;

    }
    #display{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 430px){
    #input{
        font-size: .7rem;
        width:15rem;
    }
    #add_btn{
        font-size: .7rem;
    }
}
@media only screen and (max-width: 340px){
    #input{
        font-size: .6rem;
        width:10rem;
    }
    #add_btn{
        font-size: .5rem;
    }
}
